<!DOCTYPE html>
<html lang="en">
<head>
  <title>Workplace Claim Portal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .header {
    color: #373E4C;
    font-size: 27px;
    padding: 10px;
  }

  .bigicon {
    font-size: 35px;
    color: #373E4C;
  } 
  </style>
</head>
<body>
    &nbsp;
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form class="form-horizontal" method="post">
                        <fieldset>
                            <legend class="text-center header">Workplace Claim Portal</legend>
    
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-address-card bigicon"></i></span>
                                <div class="col-md-8">
                                    <input id="employeeId" name="employeeId" type="text" placeholder="Employee ID" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-question-circle bigicon"></i></span>
                                <div class="col-md-8">
                                    <input id="sq1" name="securityQuestionOne" type="text" placeholder="Security Question One?" class="form-control" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-question-circle bigicon"></i></span>
                                <div class="col-md-8">
                                    <input id="sq2" name="securityQuestionTwo" type="text" placeholder="Security Question Two?" class="form-control" required>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                        <legend class="text-center header"><%= message %></legend>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>